<h4 class="ui horizon divider header">
  style.background-color
</h4>

<div [style.background-color]="'yellow'">
  Amarillo
</div>
<!-- <div style="background-color: blue;">
  azul
</div> -->

<h4 class="ui horizon divider header">
  style literal
</h4>

<div [ngStyle]="{'color':'white','background-color':'blue',padding: '10px', 'border-radius': '5px'}">
  uso de ngStyle
</div>

<h4 class="ui horizon divider header">
  ngStyle con style.font
</h4>

<div [ngStyle]="{'color':color}" [style.font-size.px]="fontSize">
  combinaciones
</div>

<h4 class="ui horizon divider header">
  ngStyle con objeto
</h4>

<div [ngStyle]="myStyle">
  Con Objeto
</div>

<h4 class="ui horizon divider header">
  Con funciones y binding
</h4>

<div class="ui input">
  <input type="text" name="color" value="{{ color }}" #colorInput>
</div>

<div class="ui input">
  <input type="text" name="font" value="{{ fontSize }}" #fontInput>
</div>

<button class="ui primary button" (click)="apply(colorInput.value,fontInput.value)">
  Aplicar estilos
</button>