<div class="ui raised segment">
	<h2 class="ui header">Validaciones</h2>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form" [class.error]="!myForm.valid && myForm.touched">

		<div class="field">
			<label for="skuInput">SKU</label>
			<input type="text" id="skuInput" placeholder="SKU" [formControl]="sku">
			{{ sku.valid }} | {{ sku.hasError }}
			<div class="ui error message">
				El es SKU es invalido
			</div>
			<div *ngIf="sku.hasError('required')" class="ui error message">
				El es SKU es requerido
			</div>
			<div *ngIf="sku.hasError('invalidSku')" class="ui error message">
				El es SKU debe comenzar 123
			</div>
		</div>

		<button [disabled]="!myForm.valid" type="submit" class="ui button">Submit</button>
	</form>
</div>
